<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <title><%="#{params[:name]} is a certified thought leader."%></title>
       <style type="text/css" media="screen">
        body {
          text-align: center;
          background-color: #000;
        }
       .container {
               width: 1000px;
               margin: auto;
       }
        h1 {
          color: #fff;
          font-size: 100px;
          text-align:center;
          margin-bottom: .25em;
        }
        #contact * {
       text-align:center;
        color: #000;
        }
       .container:hover #contact * {
               color: #444;
       }
       #contact a {
               display:block;
		padding-bottom: .5em;
       }
       </style>
</head>
<body>
<div class="container">
       <h1 id="yes"><%="#{params[:name]} is a <br />Certified Thought Leader™"%></h1>
</div>
</body>
</html>


